<div class="modal fade" id="add-new-breeds" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">猫種追加</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= form_with model: breed, url: admin_breeds_path do |f| %>
        <div class="modal-body">
          <div class="form-group">
            <%= f.label :猫種 %>
            <%= f.text_field :name %>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <%= f.submit %>
        </div>
      <% end %>
    </div>
  </div>
</div>