<div class="container body">
  <div class="row mt-5">
    <h4 class="title-black">メッセージ</h4>
  </div>
  <div class="row">
    <div class="col">
      <div class="messages-list shadow p-3 bg-white rounded">
        <%= image_tag @user.profile_image, class: "user-image-md" %>
        <%= link_to @user.username, user_path(@user), class: "btn-black" %>
        <div class="actual-messages">
          <% @messages.each do |message| %>
            <%= render 'user/messages/messages', message: message %>
          <% end %>
        </div>
        <div class="form-group pt-5">
          <%= render 'user/messages/message_form', message: @message %>
        </div>
      </div>
    </div>
  </div>
</div>