/*black*/
.btn-black {
  border: 1px solid #999;
  border-radius: 20px;
  padding: 5px 10px;
  color: #666;
  background-color: transparent;
  display: inline-block;
}
.btn-black:hover {
  background-color: rgba(0, 0, 0, 0.1);
  color: #000;
  transition: all 0.5s ease;
}
.title-black {
  border: 1px solid #999;
  border-radius: 20px;
  padding: 5px 10px;
  color: #666;
  background-color: transparent;
  display: inline-block;
}

/*blue*/
.btn-blue {
  border: 1px solid #00d9ff;
  border-radius: 20px;
  padding: 5px 10px;
  color: #00d9ff;
  background-color: transparent;
  backdrop-filter: blur(20px);
  display: inline-block;
}
.btn-blue:hover {
  background-color: rgba(102, 255, 255, 0.2);
  transition: all 0.5s ease;
  color: #00d9ff;
}
.title-blue {
  border: 1px solid #00d9ff;
  border-radius: 20px;
  padding: 5px 10px;
  color: #00d9ff;
  background-color: transparent;
  backdrop-filter: blur(20px);
  display: inline-block;
}

/*green*/
.btn-green {
  border: 1px solid #00cc1f;
  border-radius: 20px;
  padding: 5px 10px;
  color: #00cc1f;
  background-color: transparent;
  backdrop-filter: blur(20px);
  display: inline-block;
}
.btn-green:hover {
  background-color: rgba(92, 230, 92, 0.2);
  transition: all 0.5s ease;
  color: #00cc1f;
}
.title-green {
  border: 1px solid #00cc1f;
  border-radius: 20px;
  padding: 5px 10px;
  color: #00cc1f;
  background-color: transparent;
  backdrop-filter: blur(20px);
  display: inline-block;
}






.btn-switch {
  border: 1px solid #00d9ff;
  border-radius: 20px;
  padding: 5px 10px;
  color: #00d9ff;
  background-color: transparent;
  font-size: 1.2rem;
}

.btn-switch.active {
  color: #00d9ff;
  border: 2px solid #00d9ff;
  font-weight: 500;
  background-color: rgba(255, 255, 255, 0.5);
  font-size: 125%;
}

.custom-file-input {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  cursor: pointer;
}
.custom-file-button {
  position: absolute;
  top: 0;
  left: 0;
}

.add-btn {
  position: fixed;
  bottom: 5%;
  right: 5%;
  z-index: 5;
}