.flash {
  position: fixed;
  left: 50%;
  width: 100%;
  transform: translateX(-50%);
  padding: 20px;
  text-align: center;
  font-size: 1.2em;
  cursor: pointer;
  z-index: 1;
  opacity: 1;
  transition: opacity 1s ease-out;
}

.flash-hide {
  opacity: 0;
}

.flash-close-icon {
  position: fixed;
  right: 30px;
  font-size: 1.2em;
}

.flash.notice {
  background-color: rgba(102, 255, 255, 0.4); /* 透明度20%の青色系 */
  color: #fff;
}

.flash.alert {
  background-color: rgba(255, 0, 128, 0.2); /* 透明度20%の赤色系 */
  color: #fff;
  padding: 20px;
  position: fixed;
  margin-bottom: 0;
  border: none;
  border-radius: none;
}

.flash.now {
  background-color: rgba(255, 0, 128, 0.2); /* 透明度20%の赤色系 */
  color: #fff;
}