.flash {
  top: 80px;
  left: 50%;
  width: 100%;
  transform: translateX(-50%);
  padding: 20px;
  text-align: center;
  font-size: 1.2em;
  cursor: pointer;
}

.flash-close-icon {
  position: fixed;
  right: 30px;
  font-size: 1.2em;
}

.flash.notice {
  background-color: rgba(102, 255, 255, 0.4); /* 透明度20%の青色系 */
  color: #fff;
  position: relative;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

.flash.alert {
  background-color: rgba(255, 0, 128, 0.2); /* 透明度20%の赤色系 */
  color: #fff;
  padding: 20px;
}