/*コンテンツ背景*/
/*.contents-bg {*/
/*  background-color: rgba(0, 0, 0, 0.05);*/
/*  border-radius: 10px;*/
/*  padding: 20px;*/
/*  height: 100%;*/
/*}*/

/*カード設定*/
.card {
  margin-top: 20px;
  overflow: hidden;
  border: none !important;
  background-color: #efefef !important;
}

.card-title {
  padding-bottom: 10px;
  border-bottom: 1px solid #999;
}

/*モーダル設定*/
.modal-content {
  background-color: #fafafa !important;
}

/*画像設定*/
.cat-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  transition: transform 0.5s ease;
}
.cat-image:hover{
  transform: scale(1.5) translateY(10px);
}

.user-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  transition: transform 0.3s ease;
}
.user-image:hover{
  transform: scale(1.5);
}