<div class="container body">
  <div class="row">
    <div class="col">
      <table class="table">
        <tbody>
          <% @users.each do |user| %>
            <tr>
              <td><%= image_tag user.profile_image %></td>
              <td><%= link_to user.username, user_path(user) %></td>
              <td><%= user.introduction %></td>
              <td></td>
              <td></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>