<div class="container-fluid">
  <div class="row main-visual-row">
    <!--%= image_tag 'main-visual2.jpg', alt: "main-visual", class: "main-visual" %>-->
    <div class="main-visual-contents">
      <h1>Dear Cat Lovers</h1>
      <p>あなたとあなたの愛する猫のためのコミュニティ</p>
      <p>にゃんころパラダイスは猫愛好家が猫の写真を共有し</p>
      <p>地元の保護猫カフェを探索し保護猫の支援に貢献できる場を提供します</p>
      <% if user_signed_in? %>
      <% else %>
        <button class="start-btn login-popup-btn">始める</button>
      <% end %>
    </div>
    <div class="wrapper">
    <span class="icon-close"><i class="fa-solid fa-xmark"></i></span>
      <%= render 'user/homes/login_form', user: @user %>
      <%= render 'user/homes/registration_form', user: @user %>
    </div>
  </div>
</div>
<div class="container">
  <div class="row about-section">
    <div class="col-md-4 offset-md-1 about-content">
      <h2>私たちのミッション</h2>
      <p>にゃんころパラダイスは猫愛好家のコミュニティとして猫の保護活動と愛情を深めることを目的としています<br>現在も多くの活動のお陰で殺処分数は年々減少していますがいまだに愛する家族に出会うことの出来ない猫は多くいます<br>そんな一つ一つの儚い命を少しでも救うべく<br>猫の写真を共有し保護猫カフェを探索し猫の保護活動に貢献するプラットフォームを提供しています</p>
    </div>
    <div class="col-md-4 offset-md-2 about-content">
      <h2>創設者からのメッセージ</h2>
      <p>創設者は猫とその幸福に深い情熱を持っています<br>このサイトは猫を愛するすべての人達が集まり<br>支援し合える場所を作るために立ち上げました</p>
    </div>
    <div class="col-md-4 offset-md-1 about-content">
      <h2>サービスについて</h2>
      <p>ユーザーは自分の愛猫の写真や動画を共有したり<br>地元の保護猫カフェを見つけたり保護猫支援のための活動に参加できます</p>
    </div>
    <div class="col-md-4 offset-md-2 about-content">
      <h2>ビジョン</h2>
      <p>将来的にはより多くの猫たちが愛する家族のいる幸せなな家を見つけ<br>猫愛好家の大きなコミュニティを築くことを目指しています</p>
    </div>
    <div class="col-md-4 offset-md-1 about-content">
      <h2>保護猫へのコミットメント</h2>
      <p>保護猫に安全で居心地のいい愛情に満ち溢れた家を見つけてもらうために<br>地域社会と連携していきます また保護猫カフェや団体との協力を経て<br>すべての猫たちが新しい家族を見つけ出会える機会を増やしていきます</p>
    </div>
    <div class="col-md-4 offset-md-2 about-content">
      <h2>お問い合わせ</h2>
      <p>質問やお問い合わせなどは気軽にコンタクト情報まで<br>ご連絡ください</p>
    </div>
  </div>
</div>