/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  // background-color: #cbd0d3 !important; /*sky grey*/
  // background-color: #fafdff !important; /*snow white*/
  // background-color: #f8f8ff !important; /*ghost white*/
  background-color: #eee9e6 !important; /*beige cameo*/
  // background-color: #666 !important;
  font-family: 'M PLUS 2', sans-serif !important;
  height: 100%;
}

.body {
  padding-left: 135px !important;
  padding-top: 50px !important;
  margin-bottom: 50px !important;
}

.top-body {
  margin: 0 !important;
  padding: 0 !important;
}

footer {
  position: sticky;
  top: 100vh;
  height: 100px;
  width: 100%;
  // background-color: rgba(255, 255, 255, 0.4);
  display: flex !important;
  align-items: center;
  justify-content: center;
}

a {
  text-decoration: none !important;
  // color: #666 !important;
}

.row {
  width: 100%;
}

// 表示用
// .pagination {
//   opacity: 1;
//   position: static;
//   border: none;
//   background-color: transparent;
// }



// responsive

@media screen and (max-width: 768px) {
  .body {
    padding-left: 85px !important;
  }
}