/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "components/hamburger-menu";
 @import "components/login-register-popup";
 @import "components/header";
 @import "components/sidebar";
 @import "layouts/flash";
 @import "pages/top-page";
 @import "pages/my-page";
 @import "pages/items-index-page";
 @import "pages/cats-index-page";


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #cbd0d3 !important; /*sky grey*/
  font-family: 'M PLUS 2', sans-serif !important;
}

.body {
  padding-left: 120px !important;
  margin-top: 100px !important;
}

.btn-black {
  border: 1px solid #999;
  border-radius: 20px;
  padding: 5px 10px;
  color: #666;
}
.btn-black:hover {
  color: #000;
  transition: all 0.3s ease;
}

a {
  text-decoration: none !important;
}